<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><img class="img-fluid" alt="Extra promo logo" src="../../assets/logo.png" /></a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }"
              *ngIf="!_authService.loggedIn()">
            <h3 class="pl-2 pr-2">
              <a class="nav-link text-white badge badge-primary" [routerLink]="['/']">Home</a>
            </h3>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              *ngIf="_authService.loggedIn()">
            <h3 class="pl-2 pr-2">
              <a class="nav-link text-white badge badge-primary" [routerLink]="['/promotions']">Counter</a>
            </h3>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              *ngIf="_authService.loggedIn()">
            <h3 class="pl-2 pr-2">
              <a class="nav-link text-white badge badge-primary" [routerLink]="['/fetch-data']">Fetch data</a>
            </h3>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              *ngIf="_authService.loggedIn()">
            <h3 class="pl-2 pr-2">
              <a class="nav-link text-white badge badge-primary" [routerLink]="['/']" (click)="logout()">Logout</a>
            </h3>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
