<div class="row justify-content-around text-center border border-info rounded">

  <div class="col-md-3 border">
    <h3 class="text-warning border-bottom">Promotion</h3>
    <form [formGroup]="addPromotionForm" (ngSubmit)="add()">
      <div>
        <div class="row">
          <mat-form-field appearance="outline" class="w-100 ml-2 mr-2">
            <mat-label>Promotion type</mat-label>
            <mat-select formControlName="type" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let promoType of promotionTypes" [value]="promoType">
                {{promoType}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addPromotionForm.get('type').hasError('required')">Please choose a promotion type</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="w-100 ml-2 mr-2">
            <mat-label>Description</mat-label>
            <textarea required matInput placeholder="Ex. Get one FREE item" formControlName="description"></textarea>
            <mat-error *ngIf="addPromotionForm.get('description').hasError('required')">Please enter a description</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="text-center">
        <button mat-raised-button color="primary" type="submit" [disabled]="!addPromotionForm.valid || promotion.modifiers.length === 0 || promotion.actions.length === 0">
          Save
        </button>
        <button mat-stroked-button color="accent" type="button" (click)="cancel()">
          Cancel
        </button>
      </div>

    </form>
  </div>

  <div class="col-md border">
    <h3 class="text-warning border-bottom">Modifiers</h3>

    <div class="row border-bottom mt-1" *ngFor="let modifier of promotion.modifiers; let i=index">
      <div class="col-5">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Type</mat-label>
          <input readonly matInput [value]="modifier.type">
        </mat-form-field>
      </div>
      <div class="col-5">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Values</mat-label>
          <input readonly matInput [value]="modifier.values">
        </mat-form-field>
      </div>
      <div class="col">
        <div class="row">
          <button mat-icon-button color="warn" (click)="removeModifier(i)">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <div class="row">
          <button mat-icon-button color="basic" (click)="editModifier(i)">
            <mat-icon>create</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <button mat-icon-button class="mt-1" color="primary" type="button" (click)="addModifierDialog()" matTooltip="Add Modifier" matTooltipPosition="right">
      <mat-icon>add_box</mat-icon>
    </button>
  </div>

  <div class="col-md border">
    <h3 class="text-warning border-bottom">Actions</h3>

    <div class="row justify-content-start border-bottom mt-1" *ngFor="let action of promotion.actions; let i=index">
      <div class="col-10">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Type</mat-label>
          <input readonly matInput [value]="action.type">
        </mat-form-field>
      </div>
      <div class="col">
        <div class="row">
          <button mat-icon-button color="warn" (click)="removeAction(i)">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <div class="row">
          <button mat-icon-button color="basic" (click)="editAction(i)">
            <mat-icon>create</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <button mat-icon-button color="primary" type="button" (click)="addActionDialog()" matTooltip="Add Action" matTooltipPosition="right">
      <mat-icon>add_box</mat-icon>
    </button>
  </div>
</div>

